<div class="container">

  <div class="d-flex flex-column gap-2">
    <!-- <app-navbar></app-navbar> -->

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" id="tab1" data-bs-toggle="tab" href="#content1">Welcome!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab2" data-bs-toggle="tab" href="#content2">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab3" data-bs-toggle="tab" href="#content3">About</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="content1">
        <div class="text-center mt-3">
          <img src="assets/images/markos.png" alt="Welcome Image" class="img-fluid" style="max-width: 50%; height: auto;">
          <h2 class="mt-3">Welcome to My Pet Application!</h2>
          <p>Your go-to <b>Map</b> for managing your pet's activities and information.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="content2">
        <!-- Content for Tab 2 -->
        <div class="d-flex flex-row gap-2">
          
          <div class="flex-grow-1 p-2 text-nowrap w-75">
            <app-draw-features></app-draw-features>
            
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="content3">
        <!-- Content for Tab 3 -->
         <app-about-page></app-about-page>
      </div>
    </div>
  </div>
</div>
