# ==============================
# 🔥 Python (Flask Backend)
# ==============================
backend/__pycache__/
backend/venv/

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.env.local
instance/
db.sqlite3
*.db

# ==============================
# Angular (Frontend)
# ==============================
node_modules/
dist/
*.log
.angular/
*.env
*.DS_Store
frontend/openlayers-demo/.angular


# ==============================
frontend/.vscode/
frontend/openlayers-demo/.vscode